
.navigation-bar {
  background-color: #000000; 
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.nav-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbutt-container{
  padding: 20px;
  display: flex;
  margin-left: 600px;
}
.nav-logo{
  width: 200px; 
  height: auto;
  position: absolute;
}

.navbutt {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s;
}

.navbutt:hover {
  color:  #D3A121; 
}
